.profile{
    background-color: rgb(250, 226, 197);
    padding: 20px;
    border: 0;
    box-sizing: border-box;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .title{
    color: black;
    font-weight: bold;
    font-size: 26px;
  }

  .address{
    color: black;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
  }

  .quote{
    color: black;
    font-style: italic;
    font-size: 18px;

  }
  

